# dependencies
node_modules/

# production build
build/

# cache
.eslintcache

# editor
.vscode/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store

# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/
