[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.4"
python-dotenv = "==1.0.1"
werkzeug = "==1.0.1"
jinja2 = "==2.11.3"
click = "==7.1.2"
itsdangerous = "==1.1.0"
markupsafe = "==1.1.1"

[dev-packages]

[requires]
python_version = "3.8"
